.contacts {
    background-color: map-get($gray, 'light-2');
    @include container();
    padding: {
        top: 40px;
        bottom: 40px;
    }
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .contact {
        margin-top: 20px;
        text-align: center;

        &Title {
            line-height: 18px;
            color: map-get($gray, 'base');
        }

        &Value {
            line-height: 21px;
            color: map-get($black, 'base');
        }
    }
}
