.field {
  display: flex;
  flex-direction: column;

  &Label {
    margin-bottom: 12px;
  }

  &Input {
    font-family: 'Roboto';
    line-height: 16px;
    font-size: 14px;
    height: 44px;

    &Error{
      box-shadow: inset 0 0 0 2px map-get($red, 'base')!important;
    }
  }

  &Error {
    line-height: 16px;
    margin-top: 8px;
    color: map-get($red, 'base');
  }
}
