$gray: (
    'dark': rgba(27, 27, 27, 0.4),
    'base': #4F4F4F,
    'light': #828282,
    'light-2': rgba(247,249,251,1),
    'light-3': #E0E0E0,
);

$black: (
    'base': #000000,
    'light': #1B1B1B,
);

$purpl: (
    'base': #3F3D56,
);

$white: (
    'base': #FFFFFF,
);

$green: (
    'base': #61A199,
)
