.root {
    @include container();
    padding: {
        top: 30px;
        bottom: 30px;
    };
    background-color: map-get($purpl, 'base');
}

.copyright {
    color: map-get($white, 'base');
    line-height: 18.75px;
    margin-bottom: 14px;
    opacity: .4;
    display: block;
}