.root {
    @include container();
    padding: {
        top: 30px;
        bottom: 30px;
    };
    background-color: map-get($purpl, 'base');

    @include desktop {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}

.copyright {
    color: map-get($white, 'base');
    line-height: 19px;
    margin-bottom: 14px;
    opacity: .4;
    display: block;

    @include desktop {
        margin-bottom: 0;
    }
}