.root {
    @include container();
    padding: {
        top: 20px;
        bottom: 20px;
    };
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navigation {
    overflow: hidden;
    width: 0;
    opacity: 0;

    @include desktop {
        overflow: visible;
        width: auto;
        opacity: 1;
    }
}