.root {
    display: flex;
    justify-content: flex-start; 
}

.listItem {
    color: map-get($white, 'base');
    
    &:not(:last-child) {
        margin-right: 20px;
    }
}

.icon {
    width: 32px;
    height: 32px;
}