.root {
  @include container();
  padding: {
    top: 40px;
    bottom: 40px;
  };

  .header {
    line-height: 29px;
    color: map-get($black, 'light' );
  }

  .field {
    &:first-child {
      margin-top: 30px;
    }

    &:not(:first-child) {
      margin-top: 26px;
    }
  }

}

