.wrap {
  @include desktop {
    width: 676px;
    margin: 0 auto;
  }
}

.steps {
  line-height: 18px;
  color: map-get($gray, 'light');
  text-align: center;
  margin-top: 54px;

  @include desktop {
    line-height: 29px;
  }
}

.title {
  line-height: 38px;
  color: map-get($black, 'light');
  text-align: center;
  margin-top: 10px;

  @include desktop {
    line-height: 77px;
  }
}

.submit {
  @include container();
  padding: {
    top: 16px;
    bottom: 17px;
  };
  box-shadow: 0 -1px 0 map-get($gray, 'light-6');
  position: sticky;
  bottom: 0;
  background-color: map-get($white, 'base');
  margin-top: 40px;

  @include desktop {
    display: flex;
    justify-content: center;
    margin-top: 90px;
  }

  &Button {
    width: 100%;

    @include desktop {
      width: auto;
    }
  }
}
